*{font-family:Arial, Helvetica, sans-serif}
.quotes {}
.quote {}
.quote_name {background-color: #aaa;color: #fff; width: 1.2em;}
.quote_text {background-color: #eee;color: #aaa;}
.quote_timestamp {font-style: 0.8em;color: #eee;}