*{font-family:Arial, Helvetica, sans-serif;font-size: 1em;color: #000;}
li{list-style:none;}
i{cursor:pointer;}

.quotes {}
.quote {}
.quote_name {background-color: #fff;color: #000;font-weight: 800;}
.quote_text {background-color: #fff;color: #000;}
.quote_timestamp {color: #aaa;font-size: 0.8em;}
.quote_status{color: #aaa;font-size: 0.8em;}
.active{background-color: lightgreen;}
.deleted{background-color: pink;}
