*{font-family:Arial, Helvetica, sans-serif;font-size: 1em;color: #fff;}
li{list-style:none;}
i{cursor:pointer;}

.quote_name {font-weight: 800;}
/*.quote_text {background-color: #fff;color: #000;}*/
.quote_timestamp, .quote_id {color: #aaa;font-size: 0.8em;}
/*.quote_status{color: #aaa;font-size: 0.8em;}*/

.released{background-color: lightgreen;}
.archived{background-color: pink;}
